<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Working with dates

In [12]:
import os
os.chdir('C:\\Users\\jenny\\venvs\\py39\\Lib\\site-packages')
import pandas as pd

###Generate series of dates with `period_range`

In [13]:
daterange = pd.period_range('1/1/2020', freq='30d', periods=4)
daterange

PeriodIndex(['2020-01-01', '2020-01-31', '2020-03-01', '2020-03-31'], dtype='period[30D]', freq='30D')

In [14]:
date_df = pd.DataFrame(data=daterange, columns=['sample date'])
date_df

  sample date
0  2020-01-01
1  2020-01-31
2  2020-03-01
3  2020-03-31

### Date difference from prior date using `diff`

In [15]:
date_df['date difference'] = date_df['sample date'].diff(periods=1) # similar to SQL lag function
date_df

  sample date date difference
0  2020-01-01             NaT
1  2020-01-31     <30 * Days>
2  2020-03-01     <30 * Days>
3  2020-03-31     <30 * Days>

### Find the first day of the month

In [16]:
date_df['first of month'] = date_df['sample date'].values.astype('datetime64[M]')
date_df

  sample date date difference first of month
0  2020-01-01             NaT     2020-01-01
1  2020-01-31     <30 * Days>     2020-01-01
2  2020-03-01     <30 * Days>     2020-03-01
3  2020-03-31     <30 * Days>     2020-03-01

### Date types

In [17]:
date_df.dtypes

sample date           period[30D]
date difference            object
first of month     datetime64[ns]
dtype: object

In [18]:
date_df['sample date'] = date_df['sample date'].dt.to_timestamp()
date_df

  sample date date difference first of month
0  2020-01-01             NaT     2020-01-01
1  2020-01-31     <30 * Days>     2020-01-01
2  2020-03-01     <30 * Days>     2020-03-01
3  2020-03-31     <30 * Days>     2020-03-01

In [19]:
date_df.dtypes

sample date        datetime64[ns]
date difference            object
first of month     datetime64[ns]
dtype: object

### Date Subtraction

In [20]:
date_df['sample date'] - date_df['first of month']

0    0 days
1   30 days
2    0 days
3   30 days
dtype: timedelta64[ns]

In [21]:
date_df['sample date'] - date_df['date difference']

C:\Users\jenny\venvs\py39\Lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(

0          NaT
1   2020-01-01
2   2020-01-31
3   2020-03-01
dtype: datetime64[ns]

In [22]:
date_df['sample date'] - pd.Timedelta('30 d')

0   2019-12-02
1   2020-01-01
2   2020-01-31
3   2020-03-01
Name: sample date, dtype: datetime64[ns]

### More datetime properties with `dt`

In [23]:
date_df['sample date'].dt.day_name()

0    Wednesday
1       Friday
2       Sunday
3      Tuesday
Name: sample date, dtype: object